/*
Theme Name: Dazzling
Theme URI: http://colorlib.com/wp/themes/dazzling
Author: Colorlib
Author URI: http://colorlib.com/wp/
Description: Dazzling is a clean, modern, minimal and fully responsive flat design WordPress WooCommerce theme well suited for blogs, static and ecommerce websites. Theme can be used for travel, corporate, portfolio, photography, green thinking, nature, health, personal and any other creative and minimalistic style website. Dazzling theme is highly customizable with unlimited color options, slider, call for action button, several widget areas and much more that can be adjusted via Theme Options. The theme is built using Bootstrap 3, which makes it responsive and mobile friendly. It features infinite scroll, SEO friendly structure, logo upload, full-screen slider, call for action section, social media icons, popular post widget and translation ready setup. This theme supports WooCommerce and Jigoshop ecommerce plugins. Dazzling is also available in Mexican Spanish, Brazilian Portuguese, Finnish, Swedish, Dutch, Hungarian, German, Persian, Ukrainian  Lithuanian, Portuguese, Italian, Danish, Turkish and Polish. It is Multilingual ready and compatible with WPML plugin. It is probably the best free WordPress theme built for eStores and business websites.
Version: 2.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: dazzling
Domain Path: /languages/
Tags: grid-layout, footer-widgets, blog, education, entertainment, food-and-drink, news, photography, portfolio


This theme, like WordPress, is licensed under the GPL.

Dazzling is based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.

*/

/* Table of content
-----------------------------------------------
1. Global
2. Content
3. Post styling
4. Singe Post/Page Pagination
5. Media
6. Widgets
7. Buttons
8. Infinite Scroll
8. Custom Styles
9. Navigation
10. Comments
11. Attachment styling
12. Footer
13. Mobile Styling
14. Social icons
15. Call For Action
*/

/* =Global
----------------------------------------------- */
body {
  color: #6B6B6B;
  word-wrap: break-word;
  line-height: 1.7;
  font-size: 14px;
}

a {
  color: #1FA67A;
  text-decoration: none;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #fff;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  position: relative;
  top: 8px;
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
select {
    width: 250px;
    border: 1px solid #DCE4EC;
    background-color: #FFF;
    height: 30px;
    padding: 5px;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:    content-box;
  box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
/*Juan David Losada*/
.pricing-table-item{
  position:relative;background-color:#fff;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14);
  -webkit-transition:box-shadow .25s ease-in-out;
  transition:box-shadow .25s ease-in-out;
}
.pricing-table-item.popular,.pricing-table-item:hover{
  box-shadow:0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
  z-index:1;
}
.pt-head {
    padding: 15px 0 0;
    text-align: center;
    background-color: #000;
}
.pt-head .caption {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: .12em;
    display: inline-block;
    padding: 0 0 5px;
}
.pt-price-tag {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;

    border-top: solid 1px#3e3d3d;
}
.pt-plan {
    padding: 20px 0;
    color: #fff;
    background-color: #6aaf08;
    font-size: 24px;
    line-height: 28px;
}
.pt-features {
    padding-top: 10px;
    text-align: center;
}
.pt-features ul {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
}
.pt-features ul li {
    color: #737373;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-left: 35px;
}
.pt-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt-footer a.btn {
    width: 100px;
    padding: 8px 0;
    font-size: 12px;
}
.btn-btn-custom-reverse, a.btn-custom-reverse{
  background-color: #393a3b;
  color: #fff;
}
.btn-custom-reverse:hover, a.btn-custom-reverse:focus, a.btn-custom-reverse:hover {
    color: #fff;
    background-color: #2e3138;
    box-shadow: none;
}
.box1{
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  margin: 30px;
  
}
.box2{
  border-style: solid;
  border-color: #51a5cf;
  background-color: #51a5cf;
  margin: 30px;
}
.foto1{
  padding-top: 18px;
}
.foto2{
  padding-top: 18px;
}
.btnpc{
   background-color: #eeeeee;
   border-radius: 60px;
   padding: 10px;
}
.btnp{
 background-color: #43b2e9;
 border-radius: 60px;
 padding: 10px;
}
.text1 p{
  color:#000;
}
.text2 p{
  color:#fff;
}

div.tab {
    overflow: hidden;
    display: flex;
    color: #fff;
}


div.tab button {
    background-color: #1889c1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


div.tab button:hover {
    background-color: #eeeeee;
    color: #000;
}


div.tab button.active {
    background-color: #eeeeee;
    color: #000;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #eeeeee;
}
/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
  margin-right: 0;
}
.page-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.entry-content{
  margin: initial;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
#content {
 /* margin-top: 40px;*/
 /* margin-bottom: 40px;*/
}
/* =Post styling
----------------------------------------------- */
.entry-meta a {
  font-size: 13px;
}
#main .page-header {
  margin-top: 0;
}

.entry-meta a {
  color: #6B6B6B;
}
.entry-meta .fa {
  font-size: 14px;
  margin-right: 3px;
  color: #1FA67A;
}
.entry-meta span {
  margin-right: 10px;
}
.entry-title {
  font-size: 32px;
  color: #444;
}
.entry-title a {
  color: #444;
}
.entry-title a:hover {
  color: #666;
}
.btn.btn-default.read-more {
  float: right;
  border: 1px solid #E8E8E8;
  color: #1FA67A;
  background-color: transparent;
  margin-top: 10px;
}
.btn.btn-default.read-more:hover {
  color: #FFF;
  background-color: #1FA67A;
}
.search .btn.btn-default.read-more {
  float: none;
}
hr.section-divider {
  border-color: #E8E8E8;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* =Singe Post/Page Pagination
----------------------------------------------- */
.page-links span {
  display: inline-block;
  color: #fff;
  background-color: #1FA67A;
  border-radius: 4px;
  padding: 2px 10px;
  margin-left: 2px;
}
.page-links a span {
  background-color: inherit;
  border: 1px solid #E8E8E8;
  color: #1FA67A;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}
.page-links a:hover span {
  background-color: #1FA67A;
  border: 1px solid #1FA67A;
  color: #fff;
}
/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.site-main .gallery {
  margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.site-main .gallery dd {
  margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Widgets
----------------------------------------------- */

.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
  display: none;
}
.widget > ul > li,
li.recentcomments {
  border-bottom: 1px solid #EEE;
  position: relative;
  display: block;
  padding: 10px 0;
}
.widget ul li {
    list-style: none;
}
.widget ul {
    padding: 10px 10px;
}
.widget-title {
  border-bottom: 1px solid #eee;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
}
#secondary .widget_archive ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_recent_comments ul li:before {
  font-family: fontawesome;
  margin-right: 10px;
}
#secondary .widget_archive ul li:before {
  content: '\f073';
}
#secondary .widget_categories ul li:before {
  content: '\f115';
}
#secondary .widget_recent_comments ul li:before {
  content: '\f0e5';
}
.tab-content .tab-thumb {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
  float: left;
  line-height: 0px;
  width: 60px;
  height: 60px;
}
.tab-content li {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 8px;
  padding: 0 0 6px;
}
.tab-content .tab-entry {
  display: block;
}
.tab-content > .active {
  border: 1px solid #E8E8E8;
  border-top: none;
}
.tab-content ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content .tab-entry {
  font-size: 14px
}
.tab-comment {
  font-size: 18px;
  padding: 0 10px;
}
.nav-tabs > li > a {
  border-bottom-color: transparent;
  text-transform: uppercase;
}
.tab-content i {
  font-size: 12px;
}
.tab-thumb.thumbnail {
  margin-bottom: 5px;
}
.tab-content #messages li:before {
  content: '\f0e5';
  font-family: fontawesome;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #1FA67A;
}

/* =Buttons
----------------------------------------------- */
.btn-default, .label-default {
  background-color: #1FA67A;
  border-color: #1FA67A;
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
  background-color: #1b926c;
  border-color: #1b926c;
}
.btn.btn-default {
    color: #FFF;
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
#infinite-handle span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px;
  background: transparent;
  border: 1px solid #E8E8E8;
  color: #1FA67A;
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
}
#infinite-handle span:hover {
  background-color: #1FA67A;
  color: #fff;
}
.woocommerce #infinite-handle {
    display: none;
}
.woocommerce div.product form.cart .variations label {
  color: #6B6B6B;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 8px;
}

/* =Custom Styles
----------------------------------------------- */
.site-branding {
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-description {
  clear: both;
  color: #777;
  font-weight: 200;
  font-size: 14px;
}
.page-template-page-homepage-php .carousel {
  margin-top: -20px;
  margin-bottom: 20px;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] a,
.more-link {
  border: 1px solid #E8E8E8;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
}
.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #1FA67A;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
}
h1.site-title {
  margin: 0;
}
.navbar.navbar-default {
  background-color: #fff;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: -2px;
  border-bottom: 1px solid #eee;
}
.navbar-default .navbar-nav > li > a {
  color: #999;
  line-height: 30px;
}
.navbar > .container .navbar-brand {
  color: #1FA67A;
  font-size: 24px;
  margin: 8px 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  border-right: none;
  border-left: none;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #51a5cf;
  /*background-color: #1FA67A;*/
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #999;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
  padding: 14px 20px;
  color: #999;
}
.dropdown-menu,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  border: none;
}
.dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
  /*background-color: #1FA67A;*/
  color: #000;
  background-color: #fff;
}

.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.nav.navbar-nav {
  float: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: none;
  }
}
/* =Comments
----------------------------------------------- */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
}
#respond {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0px !important;
}
#respond > p, #respond p.comment-notes, p.logged-in-as {
  margin-bottom: 10px;
}
p.logged-in-as {
  padding-bottom: 0px;
}
.comment-list {
  margin-bottom: 40px !important;
  margin-left: 0px !important;
  padding-left: 0;
}
.comment .comment-body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 116px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #E8E8E8;
  border-radius: 4px;
}
.comment-list .children {
  margin-left: 0px!important;
  padding-left: 40px;
  border-left: 1px solid #E8E8E8;
  background-repeat: no-repeat;
  background-position: left 20px;
}
.comment-list li.comment > div img.avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.vcard .avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}


/* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #1FA67A;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}

/* =Footer
----------------------------------------------- */

#footer-area {
  background-color: #313233;
  color: #CCC;
  font-size: 12px;
}
#footer-area a {
  color: #ccc;
}
#footer-area .footer-widget-area {
  padding: 40px 0 20px 0;
  overflow: hidden;
}
#footer-area ul li {
  border-bottom: 1px solid #444;
}
#footer-area .site-info nav ul li {
  border-bottom: none;
}
#footer-area .tab-content > .active {
  border: none;
}
#footer-area .nav-tabs > li.active > a, #footer-area .nav-tabs > li.active > a:hover, #footer-area .nav-tabs > li.active > a:focus {
  background-color: transparent;
}
#footer-area .tab-content .tab-entry {
  font-size: inherit;
}
#footer-area .widgettitle {
  font-size: 18px;
  color: inherit;
  margin-top: 0px;
}
#footer-area #social ul li {
  border-bottom: none;
}
#footer-area .widget ul li {
  padding: 10px 0;
  list-style: none;
}
.footer-nav.nav > li {
  position: relative;
  display: inline-table;
}
.footer-nav.nav {
  float: left;
  margin-bottom: 2px;
}
.copyright {
  margin-top: 10px;
  float: right;
  text-align: right;
}
#colophonn{
  background-color: #40b0e7;
  padding: 10px 0;
  border-top: 1px solid #40b0e7;
}
#colophon {
  background-color: #000;
  padding: 10px 0;
  border-top: 1px solid #000;
}
.site-info a {
  color: #777;
}
.site-info a:hover {
  color: #999;
}
#footer-area a:hover {
  color: #fff;
}
.site-info {
  color: #999;
  font-size: 12px;
}
.footer-nav.nav > li > a:hover {
    background-color: transparent;
}
.scroll-to-top {
  background: #3B3B3B;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s linear;
     -moz-transition: background-color 0.1s linear;
       -o-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}
.scroll-to-top:hover {
  background: #1FA67A;
  opacity: .8;
}

/* =Mobile Styling
----------------------------------------------- */

@media (max-width: 768px) {
  .pull-right {
    float: none !important;
  }
  .pull-left {
    float: none !important;
  }
  .site-info, .copyright {
      text-align: center;
  }
  .footer-nav.nav, .copyright {
    float: none;
  }
  .flex-caption {
    display: none;
  }
  .navbar > .container .navbar-brand {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a {
    line-height: 20px;
    padding: 15px 10px;
  }
}

/* =Social icons
----------------------------------------------- */

.top-bar {
    border-bottom-color: #E8E8E8;
}
#social a {
    font-size: 32px;
    margin: 6px;
    color: #E8E8E8;
}
#social {
    top: 0;
    position: relative;
    text-align: center;
}
#social ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
#social ul {
  margin-bottom: 0;
  padding: 0;
}
#social li a span {
  display: none;
}
.fa-googleplus:before {
  content: "\f0d5";
}
#social li,
#social ul {
    border: 0!important;
    list-style: none;
    padding-left: 0
}
#social li a[href*="twitter.com"] .fa:before,
.fa-twitter:before {
    content: "\f099"
}
#social li a[href*="facebook.com"] .fa:before,
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}
#social li a[href*="github.com"] .fa:before,
.fa-github:before {
    content: "\f09b"
}
#social li a[href*="/feed"] .fa:before,
.fa-rss:before {
    content: "\f09e"
}
#social li a[href*="pinterest.com"] .fa:before,
.fa-pinterest:before {
    content: "\f0d2"
}
#social li a[href*="plus.google.com"] .fa:before,
.fa-google-plus:before {
    content: "\f0d5"
}
#social li a[href*="linkedin.com"] .fa:before,
.fa-linkedin:before {
    content: "\f0e1"
}
#social li a[href*="youtube.com"] .fa:before,
.fa-youtube:before {
    content: "\f167"
}
#social li a[href*="instagram.com"] .fa:before,
.fa-instagram:before {
    content: "\f16d"
}
#social li a[href*="flickr.com"] .fa:before,
.fa-flickr:before {
    content: "\f16e"
}
#social li a[href*="tumblr.com"] .fa:before,
.fa-tumblr:before {
    content: "\f173"
}
#social li a[href*="dribbble.com"] .fa:before,
.fa-dribbble:before {
    content: "\f17d"
}
#social li a[href*="skype.com"] .fa:before,
.fa-skype:before {
    content: "\f17e"
}
#social li a[href*="foursquare.com"] .fa:before,
.fa-foursquare:before {
    content: "\f180"
}
#social li a[href*="vimeo.com"] .fa:before,
.fa-vimeo-square:before {
    content: "\f194"
}
#social li a[href*="spotify.com"] .fa:before,
.fa-spotify:before {
    content: "\f1bc"
}
#social li a[href*="soundcloud.com"] .fa:before,
.fa-soundcloud:before {
    content: "\f1be"
}

@media (max-width: 992px) {
  .site-branding {
    text-align: center;
  }
  #social {
    top: 0;
    float: none;
    text-align: center;
  }
  .side-pull-left .main-content-inner, .side-pull-right .main-content-inner{
    float: none;
  }
}

/* =Call For Action
----------------------------------------------- */

.cfa{
  padding: 30px 0px;
  background: #1FA67A;
  text-align: center;
  overflow: hidden;
}
.cfa-text{
  font-size: 22px;
  color: #fff;
  display: block;
  padding-top: 10px;
}
.cfa-button {
  background-color: transparent;
  color: #fff;
  padding: 15px 30px;
  border-color: #fff;
}
.cfa-button a,
.cfa-button a {
  color: #fff;
}
.cfa-button:hover {
    background-color: #fff;
    color: #1FA67A;
}
.cfa-button:hover a {
    color: #1FA67A;
}
/* Layout */
.no-sidebar #secondary, .full-width #secondary{
    display: none;
}
.no-sidebar #primary{
    float: none;
    margin: 0 auto;
}
.full-width #primary{
    width: 100%;
}

@media (min-width: 992px) {
	.side-pull-left #primary{
		float: left;
	}
	.side-pull-right #primary{
		float: right;
	}
}
