div#n2-ss-0 .n2-font-1103-link a{font-family: 'Montserrat','Arial';color: #ffffff;font-size:87.5%;text-shadow: none;line-height: 1.5;font-weight: normal;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;}
div#n2-ss-0 .n2-font-1103-link a:HOVER, div#n2-ss-0 .n2-font-1103-link a:ACTIVE, div#n2-ss-0 .n2-font-1103-link a:FOCUS{@tab1}

div#n2-ss-0 .n2-style-79c32348a6fc19cbe2faedf392ad6352-heading{background: #000000;opacity:1;padding:10px 30px 10px 30px ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:2px;}
div#n2-ss-0 .n2-style-79c32348a6fc19cbe2faedf392ad6352-heading:Hover, div#n2-ss-0 .n2-style-79c32348a6fc19cbe2faedf392ad6352-heading:ACTIVE, div#n2-ss-0 .n2-style-79c32348a6fc19cbe2faedf392ad6352-heading:FOCUS{}

